DATABASE_URL="postgresql://postgres:12345@localhost:5432/jaidad"
JWT_SECRET="asdfghjkl@123456789"

DEFAULT_PASSWORD = "asdfghjkl!12345"

APP_EMAIL='m.rafay28749@gmail.com'
APP_EMAIL_PASSWORD='jpkyfyiwwxdwwkeq'
